.categoryButton {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.5vh;
    cursor: pointer;
    border: solid #dbdbdb 2px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease;
    text-align: center;
    height: 13vh; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoryButton:hover {
    background: #e7e7e7;
}

.categoriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1vh; 
    padding: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1f1f1;
    min-height: 100vh;
  }



