/* styles/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e;
  color: white;
  padding: 0 3vw;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.links a:hover {
  text-decoration: underline;
}

.filterForm {
  display: flex;
  color: black;
  margin-left: 25vw;
}

.filterForm input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  max-width: 100px;
}

.filterForm button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #febd69;
  color: white;
  cursor: pointer;
}

.filterForm button:hover {
  background-color: #e68a00;
}

.userSection {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 1rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}
.username:hover {
  border-color: white;
}

.loginSection {
  display: flex;
  align-items: center;
}

.filterInput {
  margin-right: 0.5rem;
}

.logo {
  margin-right: 2rem;
}

.logoutButton {
  transition: background-color 0.3s;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #232f3e;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s;
  font-weight: bold;
  border: 1px solid transparent;
}

.logoutButton:hover {
  border-color: white;
}

.loginLink {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  background-color: #232f3e;
  transition: background-color 0.3s;
  font-weight: bold;
  border: 1px solid transparent;
}

.loginLink:hover {
  border-color: white;
}

.wishlistLink {
  transition: background-color 0.3s;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #232f3e;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s;
  font-weight: bold;
  border: 1px solid transparent;
}

.wishlistLink:hover {
  border-color: white;
}

.main {
  height: 100vh;
  background-color: #e3e6e6;
}

.productFilters {
  display: flex;
  align-items: center;
  margin-left: 20rem;
}

.filterSelect {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  margin-right: 1rem;
}
.filterSelect:hover {
  border-color: #febd69;
}

.filterButton {
  background-color: #febd69;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #e68a00;
}

.activeLink {
  border-color: white !important;
}
