/* styles/ProductCard.module.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 2vh;
    width:fit-content;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .imageWrapper {
    width: 100%;
    height: auto;
  }
  
  .title {
    font-size: 1rem;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.8rem;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e44d26;
    padding: 4px 12px;
    margin-bottom: 12px;
  }

  .rank {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    font-size: 1rem;
    z-index: 10;
  }